.swiper {
  height: 100svh;
}

.swiper .swiper-slide {
  overflow: hidden;
}

.abs_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bg_overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .7) 100%);
}

.swiper-slide-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100svh;
}

.view_more {
  padding: 10px 30px;
  font-size: var(--fs-26);
  background: transparent;
  border: 4px solid #fff;
  font-weight: 500;
  border-radius: 40px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  transition: .4s;
}
.view_more:hover {
  background: #fff;
  box-shadow: 0 0 25px #fff,
              0 0 100px #fff,
              0 0 150px #fff;
}

.view_more span {
  position: relative;
  display: inline-block;
  text-shadow: 0 50px #000;
  font-weight: bold;
  translate: 0;
  transition: translate .2s;
}
.view_more:hover span.hover {
  translate: 0 -48px;
}

.swiper-slide-title {
  position: absolute;
  top: 80%;
  text-align: center;
}

.slider_nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  bottom: 80px;
  z-index: 1;
}
.slider_nav::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, .5);
}

.slider_nav .prev,
.slider_nav .next {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider_nav .circle {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, .05);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.slider_nav .icon_shadow {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, .05);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.slider_nav .swiper-button-prev,
.slider_nav .swiper-button-next {
  position: absolute;
  width: 34px;
  height: 34px;
  color: #fff;
  border-radius: 50%;
  margin: -17px -12px;
}
.slider_nav .swiper-button-prev::after,
.slider_nav .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}
.slider_nav .swiper-button-prev::after {
  margin-right: 3px;
}
.slider_nav .swiper-button-next::after {
  margin-left: 4px;
}

.swiper-pagination span {
  background: #fff;
}

@media (max-width: 1400px) {
  .swiper-slide-title {
    font-size: var(--fs-42);
  }
}
@media (max-width: 500px) {
  .swiper-slide-title {
    font-size: var(--fs-32);
  }
  .view_more {
    font-size: var(--fs-20);
  }
}