*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --mc1: #cc00ff;
  --mc2: #7000ff;
  --tc: #ddd;
  --bc: #9ba0b8;

  /* Fonts */
  --tf: 'Heebo', sans-serif;
  --bf: 'Nunito', sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* Gradients */
  --dark-purple-mid: linear-gradient(90deg, #1b121d 0%, #120f2f 50%, #1b121d 100%);
}

/* Global & utilities */

body {
  font-family: var(--bf);
  font-size: var(--fs-18);
  font-weight: 400;
  background: var(--dark-purple-mid);
  color: var(--bc);
  line-height: 1.44;
}

body::before {
  content: '';
  position: fixed;
  width: 270px;
  height: 270px;
  top: 27.5%;
  /* 297px */
  left: 23.9%;
  /* 479px */
  background-color: var(--mc1);
  border-radius: 50%;
  filter: blur(150px);
}

body::after {
  content: '';
  position: fixed;
  width: 270px;
  height: 270px;
  top: 42.8%;
  /* 463px */
  right: 25%;
  /* 487px */
  background-color: var(--mc2);
  border-radius: 50%;
  filter: blur(150px);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tf);
  color: var(--tc);
  line-height: 1.22;
}

a {
  text-decoration: none;
  font-family: var(--tf);
  font-weight: 500;
  color: var(--tc);
}

/* Reusable components */

.creative_link {
  position: relative;
  font-size: var(--fs-18);
  background-image: linear-gradient(90deg, var(--mc1), var(--mc1) 50%, var(--tc) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  color: transparent;
  transition: .3s ease-in-out;
}
.creative_link::before {
  content: "";
  position: absolute;
  background: var(--mc1);
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: .3s ease-in-out;
}
.creative_link:hover {
  background-position: 0;
}
.creative_link:hover::before {
  width: 100%;
}

.creative_button{
  position: relative;
  font-size: var(--fs-14);
  letter-spacing: .5px;
  padding: 15px 30px;
  text-transform: uppercase;
}
.creative_button::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 6px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, var(--mc1), var(--mc2), var(--mc1), var(--mc2));
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  background-size: 300%;
  animation: animatedgradient 4s ease alternate infinite;
}
.creative_button:hover{
  color: #fff;
}
.creative_button:hover::before{
  background: var(--mc1);
  transition: .3s ease-in;
}
.creative_button:active::before {
  background: var(--mc2);
  transition: none;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
header::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--dark-purple-mid);
  transform: translateY(-105%);
  z-index: -1;
  transition: all .3s ease;
}
header.active {
  padding: 20px 30px;
  border-bottom-color: rgba(255, 255, 255, 0.08);
}
header.active::after {
  transform: translateY(0);
}

nav {
  display: flex;
  gap: 45px;
}