*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --mc1: #cc00ff;
  --mc2: #7000ff;
  --tc: #ddd;
  --bc: #9ba0b8;

  /* Fonts */
  --tf: 'Heebo', sans-serif;
  --bf: 'Nunito', sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* Gradients */
  --dark-purple-mid: linear-gradient(90deg, #1b121d 0%, #120f2f 50%, #1b121d 100%);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}